:root {
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);


  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow Semi Condensed';
  font-size: 13px;
  font-weight: 500;
  background-color: var(--Light-grayish-blue);
}



.card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}

section {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 80px auto;
}

.card_profile {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 45px;
  margin-top: 20px;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: inherit;
}

.card_profile_image {
  max-width: 36px;
  border-radius: 100%;
  display: flex;
}

.card_profile_info {
  margin-left: 10px;
}

.card_profile_name {
  font-size: 1rem;
  font-weight: 500;
}

.card_profile_status {
  font-size: 0.8rem;
  opacity: 0.5;
}

.card_title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 20px 48px 10px 45px;
}

.card_testimonial {
  margin: 10px 48px 30px 45px;
  opacity: 0.7;
}

.purple {
  background: var(--Moderate-violet) url('./images/bg-pattern-quotation.svg');
  background-repeat: no-repeat;
  background-position: 85% 0%;

  color: var(--White);
}

.border_purple {
  border: 2px solid #a876ef;
}

.grayish {
  background-color: var(--Very-dark-grayish-blue);

  color: var(--White);
}

.white {
  background-color: var(--White);

  color: var(--Very-dark-blackish-blue);
}

.blackish {
  background-color: var(--Very-dark-blackish-blue);

  color: var(--White);
}


@media screen and (min-width: 1200px) {
  .container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  section {
    width: 100%;
    display: grid;
    grid-template: 1fr 1fr/ 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 0 30px;
    max-width: 1200px;
    justify-content: center;
    height: 80vh;
  }

  article:nth-child(1) {
    grid-column: 1 / span 2;
  }

  article:nth-child(3){
    grid-row: 2
  }
  article:nth-child(4){
    grid-column: 2 / span 2;
    grid-row: 2
  }

  article:nth-child(5){
    grid-row: 1 / span 2;
  }

  .card{
    margin-bottom: 0;
    justify-content: space-evenly;
  }

  .card_title{
    font-size: 1.2rem;
  }

  .card_testimonial{
    font-size:1rem;
  }

}


